
.about-header {
  text-align: center;
  text-decoration: none;
  font-family: 'verdana', sans-serif;
  font-weight: 700;
  color:black;
  font-size:100px;
  position: relative;
  top:50px;
}

.about-body {
  text-align: center;
  text-decoration: none;
  font-family: 'verdana', sans-serif;
  font-weight: 300;
  color:black;
  font-size:25px;
  position: relative;
  top:75px;
  width:900px;
  word-break:normal;
}

.row {
  top: 10px;
  display: flex;
  position: relative;
}

.column {
  flex: 25%;
  padding: 100px;
}

.face {
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.face-name {
    text-align: center;
    text-decoration: none;
    font-family: 'verdana', sans-serif;
    font-weight: 700;
    color:black;
    font-size:35px;
}

.face-text {
    text-align: center;
    text-decoration: none;
    font-family: 'verdana', sans-serif;
    font-weight: 300;
    color:black;
    font-size:25px;
}
.about-bg {
    background-image: src="images/backgroundboy2.png";
}

.home-bg {
    background-image: src="images/backgroundboy2.png";
}

.fa:hover {
		transform: translateY(10px);

	}


.btn{
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 100px;
	transition: all .2s;
	background: black;
	font-size: 0.9em;
}

.btn:hover {
	transform: translateY(-2px);
	box-shadow: 0 15px 20px rgba(255, 255, 255, 0.2);
}



.container {
	background: white;
	width: 2000px;
	height: 60px;
	/* height given for illustration */
	display: flex;
	flex-flow: row wrap;

}

.item {
	background: black;
	margin: 3px;
	flex: 0 1 calc(20% - 15px);
	/* <-- adjusting for margin */
}

ul{
    list-style-type: none;
    margin:0px;
    padding:10px;
}

li{
    display:inline;
    margin-left:30px;
    margin-right:30px;
}

.home-bg{
    background-image: url("images/backgroundboy2.png");
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

}

.hometext{
    top:100px;
}