{% extends 'easternav.html' %}
{% block easter %}


    <html>
    <link rel="stylesheet" href="../static/styles.css">
    <body class="easter-bg">


    <div class="eastertext">
        <center><h1 style="color:black;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:black;cursor:text;" href="/easter">Wild Easter Egg</a></h1></center>
        <p style="color:black;text-align:center;font-family:verdana;">Andrew Crisostomo | Travis Medley | Anthony Wilson | Nicholas Gee</p>
        <center><ul>
            <li class="btn"> <a style="color: white;" href="https://kids.nationalgeographic.com/games/personality-quizzes/which-wild-cat/">Nat. Geo. Quiz</a></li>
            <li class="btn"> <a style="color: white;" href="https://www.playbuzz.com/animallovers10/which-wild-cat-are-you">Playbuzz Quiz</a></li>
            <li class="btn"> <a style="color: white;" href="https://brainfall.com/quizzes/which-wild-cat-are-you/">Brainfall Quiz</a></li>
        </ul></center>
    </div>
    <center><h1 class="easter-header">I Statements</h1></center>
    <center><div class="statements">
    <p class="easter-body"><b><br>TRAVIS: I am competent in Python programming and am working on becoming an expert. I can do backend work with SQL databases, specifically SQLite and SQLalchemy utilizing the Flask framework.
                                   <br>ANDREW: I can develop web frontends  using HTML, CSS, and BootStrap. I have an understanding of JavaScript and how to use it to work with the HTML Document Object Model (DOM).
                                   <br>ANTHONY: I can do the DevOps on Linux, namely setting up a  Python/Flask server using services like Gunicorn, Nginx.
                                   <br>NICK: I know Database concepts like  establishing tables to setup and manage user accounts. I know Flask services like login_required.</p></b>
    </div></center>
{% endblock %}