{% extends 'nav.html' %}
{% block home %}
<!DOCTYPE html>
<html lang="en">


<html>
<link rel="stylesheet" href="../static/styles.css">
  <body class="home-bg">


    <div class="hometext">
        <center><h1 style="color:black;font-size:125px;margin-top:50px;"><a style="text-decoration:none;color:black;cursor:text;" href="/easter">Wildcats</a></h1></center>
      <p style="color:black;text-align:center;font-family:verdana;">Andrew Crisostomo | Travis Medley | Anthony Wilson | Nicholas Gee</p>
      <center><ul>
        <li class="btn"> <a style="color: white;" href="https://docs.google.com/document/d/1SOJ9NIcBcs_JgxbmhQpfNp5UvPgIRAXqdzKQGvdFSLw/edit">Project Plan</a></li>
        <li class="btn"> <a style="color: white;" href="http://nighthawkcoders.cf/courses/python/#flask-padlet">Resources</a></li>
        <li class="btn"> <a style="color: white;" href="https://docs.google.com/document/d/1H_rkU8QGBcCwCwj6Ia5sylhfVicfE1cv6_J8-KukuZM/edit">Journal (Anthony and Nick)</a></li>
        <li class="btn"> <a style="color: white;" href="https://docs.google.com/document/d/1Rn2xLqRm99J29nrHp6zhihUfQyBIgqrA3u0H1DxFc5c/edit">Journal (Andrew and Travis)</a></li>
      </ul></center>
    </div>


  </body>
</html>

{% endblock %}


