{% extends 'nav.html' %}
{% block home %}
<!DOCTYPE html>
<html lang="en">


<html>

  <div>
    <center><h1 style="color:Red;">Wildcats Website Project</h1></center>
  </div>

    <div class="container" style="padding-left: 0%;">
      <div class="item">
        <a href="https://docs.google.com/document/d/1SOJ9NIcBcs_JgxbmhQpfNp5UvPgIRAXqdzKQGvdFSLw/edit" class="btn">Project Plan</a>
      </div>

      <div class="item">
        <a href="http://nighthawkcoders.cf/courses/python/#flask-padlet" class="btn">Resources</a>
      </div>
      <div class="item">
        <a href="https://docs.google.com/document/d/1H_rkU8QGBcCwCwj6Ia5sylhfVicfE1cv6_J8-KukuZM/edit" class="btn">Journal(Anthony and Nick)</a>
      </div>
      <div class="item">
        <a href="https://docs.google.com/document/d/1Rn2xLqRm99J29nrHp6zhihUfQyBIgqrA3u0H1DxFc5c/edit" class="btn">Journal(Andrew and Travis)
        </a>
      </div>

    </div>

  </div>

  <p style="color:white;text-align:center;font-family:verdana">Andrew Crisostomo | Travis Medley | Anthony Wilson | Nicholas Gee</p>
</html>

{% endblock %}


