{% extends "nav.html" %}
{% block weeklycat %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Wildcat of the Week</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
</head>

<body class="home-bg">
<center><h1 class="weeklycat-header">Wildcat of the Week</h1></center>
<center><p class="weeklycat-body">The Lion</p></center>
<center><p class="weeklycat-words">The Lion is the second largest cat in the world and stay in groups called Prides. The Female lions are the primary hunters in the group and often have about 11 pounds of meat each day. The Males are known to be lazy and eat around 16 pounds of meat a day. Male lions way about 420 pounds while the females way about 280 pounds. Lions are the most popular animals in zoos and one of them even stars in a movie called Madagascar. </p></center>

<div>
    <center><img class="picture" src="../static/images/lionagain.jpg"  width="345px" height="275px"></center>
</div>

{% endblock %}